<!DOCTYPE html>
<html>
	<%-include('partials/head', {title: "About Guineafowl Productions"}) %>
<body>
	<header>
		<%- include('partials/nav', {page: "about us"}) %>
	</header>
	<main>
		<section id="home" class="bg-cover bg-no-repeat bg-center-center bg-fixed home-bg">
			<div class="container-fluid">
				<div class="row align-items-center text-centeur min-h-100vh">
				<div class="col-6 col-md-6 white-home-overlay hidden-sm">
					<h3 class="headingtext font-gotham text-uppercase p-25px-l theme-heading-color">Guineafowl Productions</h3>
					<h6 class="font-lt m-0px m-15px-b font-inter  p-25px-l">We are passionate about photography and videography. 
					You can purchase or download for free any of the photos available. We also contain different types of 
					videos for entertainment, epilepsy information and many more. </br>
					The most important part of our role lies in relation to the public. Every face has a tale to tell 
					and every person has a piece of wisdom to share. </h6>
		
				</div> 
				</div> 
			</div> 
		</section>
	
		<section id="about" class="section light-gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<img src="./images/home-bg.jpg" alt="about us" srcset="" class="w-95 h-90"">
					</div>
					<div class="col-12 col-md-6">
						<div class="m-40px-b md-m-30px-b sm-m-20px-b" data-animate='fadeInUp'>
							<h4 class="font-gotham text-uppercase color-primary">Why Guineafowl</h4>
						</div>
						<p class="m-10px-b color-primary font-gotham">The name Guineafowl was selected to depict the characteristics of a Guinea-fowl bird. Like humans, 
						guinea-fowl birds are not lonely birds. They live in groups that protect each other and whenever one 
						of the group members gets lost, it is capable to find their route back to the flock it belongs. 
						Unlike humans, guinea-fowl birds are essentially disease free birds and reduce their keepers’ 
						risk from getting specific diseases. This helps us describe the Epilepsy information and charity 
						we offer.</br>
						Productions describe all our camera activities which has brought us to this point. 
						Prior to creation of this website, we heavily relied on creativity before getting the cameras roll 
						or/and take shots. </p>
						<a href="/portfolio" class="m-btn flat-button font-gotham theme-link-color">SEE PORTFOLIO<i class="fa fa-forward m-5px-l"></i></a>
					</div>
				</div>
			</div>
		</section>
	
		<section class="section section-overlay bg-cover bg-no-repeat bg-center-center bg-fixed bg-ceo">
		<div class="container">
			<div class="row justify-content-center">
			<div class="col-12 col-md-10 col-lg-6">
				<div class="text-center">
					<i class="fa fa-quote-left color-white"></i>
					<p class="m-0px color-white font-w-300 m-20px-t font-inter">I am a talented photographer and videographer living in Kenya, Nairobi. </br>
						My dream of being a better photographer grows each and every day. I like taking advantage of every 
						opportunity that comes across. Having studied photojournalism, I ventured into nature, events 
						and travel photography.</p>
					<h6 class="color-white font-w-500 font-alt font-14 m-0px m-10px-tb">Ngware Mburu, CEO</h6>
				</div>
	
			</div> 
			</div> 
		</div> 
		</section>
	</main>
	
	<%- include('partials/footer'); %>
	
</body>

</html>