<!DOCTYPE html>
<html>
	<%-include('partials/head', {title: "Guineafowl Productions Home"}) %>
<body>
	<header>
		<%- include('partials/nav', {page: "home"}) %>
	</header>
	<main>
		<section id="home" class="bg-cover bg-no-repeat bg-center-center bg-fixed home-bg min-h-100vh">
		</section>
	</main>
	<%- include('partials/footer'); %>
</body>

</html>