<!DOCTYPE html>
<html>
  <%- include('partials/login-head', {page: 'upload'}) %>
  <body class="h-100vh very-light-blue-gray-bg">
    <div class="container">
      <form action="" id="uploadForm">
        <div class="row upload-container">
          <h1>Upload an Image</h1>
          <hr class="m-30px-b">
            <div class="col-md-6">
              <div class="w-100">
                <img id="img-placeholder" src="https://plchldr.co/i/500x250?text=Guineafowl%20Productions&bg=ecefff&fc=757575" alt="your image" style="width: 90%; height: 270px;"/><br>
                <input class="form-control m-30px-t" style="width: 90%;" name="imageFile" type='file' id="imageUpload" accept=".png, .jpg, .jpeg" onchange="readURL(this);" />
              </div>
              
            </div>
            <div class="col-md-6">
              <div class="p-50px-r">
                <div class="form-outline mb-4">
                  <input type="text" id="imageName" name="imageName" class="form-control form-control-lg" />
                  <label class="form-label" for="imageName">Name</label>
                </div>
              
                <div class="form-outline mb-4">
                  <input type="text" id="imageDescription" name="imageDescription" class="form-control form-control-lg" />
                  <label class="form-label" for="imageDescription">Description</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="number" id="imagePrice" name="imagePrice" class="form-control form-control-lg" />
                  <label class="form-label" for="imagePrice">Price</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="imageKeywords" name="imageKeywords" class="form-control form-control-lg" />
                  <label class="form-label" for="imageKeywords">Keywords</label>
                  <div class="form-helper">Separate with comma</div>
                </div>
              
                <div class="d-grid gap-2 col-12 mx-auto m-40px-t">
                  <button type="button" id="uploadImgBn" class="btn btn-primary btn-lg">Upload</button>
                </div>
              </div>
            </div>
        </div>
      </form>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>

    </script>
    <script type="text/javascript">
      function readURL(input) {
          if (input.files && input.files[0]) {
              var reader = new FileReader();

              reader.onload = function (e) {
                  $('#img-placeholder')
                      .attr('src', e.target.result);
              };

              reader.readAsDataURL(input.files[0]);
          }
      }
      
    </script>

    <script type="text/javascript" src="./js/upload.js"></script>
    <script type="text/javascript">
//	firebase.auth().signOut().then(() => {}).catch((error) => {});
    </script>
  </body>
</html>
