<!DOCTYPE html>
<html>

	<%-include('partials/head', {title: "Guineafowl Productions Videos"}) %>

<body class="light-gray-bg">
	<header>
		<%- include('partials/nav', {page: "videos"}) %>
	</header>

	<main>
		<div class="container m-90px-t">
			<center> <h1 class = "epilepsy font-gotham"> EPILEPSY </h1> </center>

			<center> <h4 class = "not-curse font-gotham"> Epilepsy is not a curse </h4></center>
	
			<div class = "project">
	
				<p class="font-inter m-40px-t m-50px-b"> 
					Previously known as Grouse Pic Productions, we began informing the world on epilepsy in 2018 
					performing a given project handed to us by AREC. After completing the project, we saw it wise to 
					continue adding information to the public regarding epilepsy. </b>
					The videos below speak of epilepsy; informing what it is and what needs to be done in any given 
					circumstances. 
				</p>
	
			</div>
			<div class="row">
				<div class="col-md-6 m-50px-b">
					<div class = "m-20px-b">
		
						<h3 class="font-gotham"> Epilepsy Awareness | WeN </h2>
		
					</div>
		
					<div class = "epilepsy-video">
		
						<iframe src="https://www.youtube.com/embed/QeYg4WXShjQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
					</div>
		
				</div>
				<div class="col-md-6 m-50px-b">
					<div class = "m-20px-b">
		
						<h3 class="font-gotham"> Story of a boy </h2>
		
					</div>
		
					<div class = "epilepsy-video">
		
						<iframe src="https://www.youtube.com/embed/aUoTmDQYvc8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
					</div>
				</div>
				<div class="col-md-6 m-50px-b">
					<div class = "m-20px-b">
		
						<h3 class="font-gotham"> If I die tomorrow by Spontaneous the Poet </h2>
		
					</div>
		
					<div class = "epilepsy-video">
		
						<iframe src="https://www.youtube.com/embed/J4NIXe3GlQw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
					</div>
				</div>
				<div class="col-md-6 m-50px-b">
					<div class = "m-20px-b">
		
						<h3 class="font-gotham"> Living with epilepsy | Esther Phelister </h2>
		
					</div>
		
					<div class = "epilepsy-video">
		
						<iframe src="https://www.youtube.com/embed/Rc4XaXHP7zI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
					</div>
				</div>
				<div class="col-md-6 m-50px-b">
					<div class = "m-20px-b">
		
						<h3 class="font-gotham"> Living with epilepsy | Harriet </h2>
		
					</div>
		
					<div class = "epilepsy-video">
		
						<iframe src="https://www.youtube.com/embed/MochQGFaUXY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
					</div>
				</div>
				<div class="col-md-6 m-50px-b">
					<div class = "m-20px-b">
		
						<h3 class="font-gotham"> Kuishi na Kifafa | David Kashorda </h2>
		
					</div>
		
					<div class = "epilepsy-video">
		
						<iframe src="https://www.youtube.com/embed/HyU1jRntqNQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
					</div>
				</div>
				<div class="col-md-6 m-50px-b">
					<div class = "m-20px-b">
		
						<h3 class="font-gotham"> Introduction to epilepsy | Zach Gakunju </h2>
		
					</div>
		
					<div class = "epilepsy-video">
		
						<iframe src="https://www.youtube.com/embed/hkfnLqfUUiU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
					</div>
				</div>
				<div class="col-md-6 m-50px-b">
					<div class = "m-20px-b">
		
						<h3 class="font-gotham"> What is Epilepsy | Judy Smooth </h2>
		
					</div>
		
					<div class = "epilepsy-video">
		
						<iframe src="https://www.youtube.com/embed/TWQZRviMt58" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
					</div>
				</div>
			</div>	
		</div>



	</main>

	<%- include('partials/footer'); %>

</body>

</html>